<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Fragments</title>
</head>
<body>

<!-- New/Edit course Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="courseModal" aria-hidden="true"
     th:fragment="courseModal(course)"
     id="course-modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New/Edit Course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/}" method="post" th:object="${course}">
                <input type="hidden" th:field="*{courseId}" id="courseId" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="courseName" class="col-form-label">course Name:</label>
                        <input type="text" class="form-control" id="courseName"
                               placeholder="example: Software Engineering"
                               th:field="*{name}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="coursePeriod" class="col-form-label">Period in Months:</label>
                        <input type="number" class="form-control" id="coursePeriod"
                               placeholder="example: 3"
                               th:field="*{period}"
                        >
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="courseDeleteModal" aria-hidden="true"
     th:fragment="courseDeleteModal(course)"
     th:id="delete-modal + ${course.courseId}"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/course/delete/{courseId}(courseId=${course.courseId})}"
                  method="get">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="alert alert-danger" role="alert">
                            Are you sure you want to delete the course: <b th:text="${course.name}"></b>?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:fragment="courseScripts">
    <script th:src="@{/js/course.js}"></script>
</div>
</body>
</html>