<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Fragments</title>
</head>
<body>

<!-- New/Edit course Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="courseModal" aria-hidden="true"
     th:fragment="courseModal(course)"
     id="course-modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New/Edit Course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/}" method="post" th:object="${course}">
                <input type="hidden" th:field="*{courseId}" id="courseId" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="courseName" class="col-form-label">course Name:</label>
                        <input type="text" class="form-control" id="courseName"
                               placeholder="example: Software Engineering"
                               th:field="*{name}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="coursePeriod" class="col-form-label">Period in Months:</label>
                        <input type="number" class="form-control" id="coursePeriod"
                               placeholder="example: 3"
                               th:field="*{period}"
                        >
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="courseDeleteModal" aria-hidden="true"
     th:fragment="courseDeleteModal(course)"
     th:id="delete-modal + ${course.courseId}"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/course/delete/{courseId}(courseId=${course.courseId})}"
                  method="get">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="alert alert-danger" role="alert">
                            Are you sure you want to delete the course: <b th:text="${course.name}"></b>?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Full screen modal for course details -->
<div class="modal fade"  th:fragment="courseDetails" th:id="course-details + ${course.courseId}"
     tabindex="-1" aria-labelledby="courseDetails" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalFullscreenLabel" th:text="${course.name}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span>Name of the course: </span>
                            <h3 th:text="${course.name}"></h3>
                            <span>Duration of the course: </span>
                            <h3><span th:text="${course.period}"></span> month/s</h3>
                        </div>
                        <div class="col">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Programming
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Suspendisse condimentum dictum erat, et efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque risus felis, ornare sed arcu nec, vestibulum dignissim risus. Phasellus dapibus dui lorem, quis aliquet magna finibus sodales. Nam auctor dignissim ligula. Duis tincidunt turpis massa, vel feugiat leo tempor in. Vestibulum tristique placerat ante nec posuere. Praesent tincidunt quis eros sit amet pulvinar.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Databases
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Suspendisse condimentum dictum erat, et efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque risus felis, ornare sed arcu nec, vestibulum dignissim risus. Phasellus dapibus dui lorem, quis aliquet magna finibus sodales. Nam auctor dignissim ligula. Duis tincidunt turpis massa, vel feugiat leo tempor in. Vestibulum tristique placerat ante nec posuere. Praesent tincidunt quis eros sit amet pulvinar.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Soft Skills
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Suspendisse condimentum dictum erat, et efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque risus felis, ornare sed arcu nec, vestibulum dignissim risus. Phasellus dapibus dui lorem, quis aliquet magna finibus sodales. Nam auctor dignissim ligula. Duis tincidunt turpis massa, vel feugiat leo tempor in. Vestibulum tristique placerat ante nec posuere. Praesent tincidunt quis eros sit amet pulvinar.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                            Final Project
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Suspendisse condimentum dictum erat, et efficitur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque risus felis, ornare sed arcu nec, vestibulum dignissim risus. Phasellus dapibus dui lorem, quis aliquet magna finibus sodales. Nam auctor dignissim ligula. Duis tincidunt turpis massa, vel feugiat leo tempor in. Vestibulum tristique placerat ante nec posuere. Praesent tincidunt quis eros sit amet pulvinar.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="courseScripts">
    <script th:src="@{/js/course.js}" type="text/javascript"></script>
</div>
</body>
</html>