<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Fragments</title>
</head>
<body>

<!--New/Edit Employee Modal-->
<div class="modal fade" tabindex="-1" aria-labelledby="cohortModal" aria-hidden="true"
     th:fragment="employeeModal"
     th:id="employee-modal + ${employee.userId}"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="new-edit-cohort">New/Edit Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/employee}" method="post" th:object="${employee}">
                <input type="hidden" th:value="${employee.userId}" id="userId" name="userId"/>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="employeeName" class="col-form-label">Employee Name:</label>
                        <input type="text" class="form-control" id="employeeName"
                               placeholder="example: John Doe"
                               th:value="${employee.name}"
                               name="name"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="employeeEmail" class="col-form-label">Employee Email:</label>
                        <input type="text" class="form-control" id="employeeEmail"
                               placeholder="email@example.com"
                               th:value="${employee.email}"
                               name="email"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="employeePhoneNumber" class="col-form-label">Employee Phone:</label>
                        <input type="text" class="form-control" id="employeePhoneNumber"
                               placeholder="0611111111"
                               th:value="${employee.phoneNumber}"
                               name="phoneNumber"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="employeeAddress" class="col-form-label">Employee Address:</label>
                        <input type="text" class="form-control" id="employeeAddress"
                               placeholder="Paterswoldeweg 122"
                               th:value="${employee.address}"
                               name="address"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="employeeCohort" class="col-form-label">Cohorts:</label>
                        <select class="form-select" id="employeeCohort" name="cohorts" multiple>
                            <option th:each="cohort : ${allCohorts}" th:value="${cohort.cohortId}"
                                    th:text="${cohort.name}"
                                    th:selected="${employee.cohorts.contains(cohort)}"
                            >
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" for="userRoles">Roles:</label>
                        <input type="checkbox" name="roles" id="userRoles"
                               th:each="roleOpt : ${T(nl.miwgroningen.cohort11.ameri.Students.model.RoleType).values()}"
                               th:value="${roleOpt}"
                               th:text="${roleOpt}"
                        />
                        <div>Currently assigned: <span class="role-label" th:each="role : ${employee.roles}" th:text="${role.roleType} " ></span></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="courseDeleteModal" aria-hidden="true"
     th:fragment="employeeDeleteModal"
     th:id="delete-modal + ${employee.userId}"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/employee/delete/{userId}(userId=${employee.userId})}"
                  method="get">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="alert alert-danger" role="alert">
                            Are you sure you want to delete the course: <b th:text="${employee.name}"></b>?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="employeeScripts">
    <script th:src="@{/js/employee.js}"></script>
</div>
</body>
</html>