<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Fragments</title>
</head>
<body>

<!--New/Edit Student Modal-->
<div class="modal fade" tabindex="-1" aria-labelledby="cohortModal" aria-hidden="true"
     th:fragment="studentModal"
     th:id="student-modal + ${student.studentId}"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="new-edit-cohort">New/Edit Cohort</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/student}" method="post" th:object="${student}">
                <input type="hidden" th:value="${student.studentId}" id="studentId" name="studentId"/>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="studentName" class="col-form-label">Student Name:</label>
                        <input type="text" class="form-control" id="studentName"
                               placeholder="example: John Doe"
                               th:value="${student.name}"
                               name="name"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="studentEmail" class="col-form-label">Student Email:</label>
                        <input type="text" class="form-control" id="studentEmail"
                               placeholder="email@example.com"
                               th:value="${student.email}"
                               name="email"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="studentPhoneNumber" class="col-form-label">Student Phone:</label>
                        <input type="text" class="form-control" id="studentPhoneNumber"
                               placeholder="0611111111"
                               th:value="${student.phoneNumber}"
                               name="phoneNumber"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="studentAddress" class="col-form-label">Student Address:</label>
                        <input type="text" class="form-control" id="studentAddress"
                               placeholder="Paterswoldeweg 122"
                               th:value="${student.address}"
                               name="address"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="studentCohort" class="col-form-label">Course:</label>
                        <select class="form-select" id="studentCohort" name="cohort">
                            <option th:each="cohort : ${cohorts}" th:value="${cohort.cohortId}"
                                    th:text="${cohort.name}"
                                    th:selected="${student.cohort == null ? false : (student.cohort.cohortId == cohort.cohortId)}">
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="courseDeleteModal" aria-hidden="true"
     th:fragment="studentDeleteModal"
     th:id="delete-modal + ${student.studentId}"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Student</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/student/delete/{studentId}(studentId=${student.studentId})}"
                  method="get">
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="alert alert-danger" role="alert">
                            Are you sure you want to delete the course: <b th:text="${student.name}"></b>?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="studentScripts">
    <script th:src="@{/js/student.js}"></script>
</div>
</body>
</html>