<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohorts Overview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>
<main class="container main-content" id="pills-home">
    <h1 class="text-center">Cohorts Overview</h1>
    <section>
        <div class="d-flex mb-3 justify-content-end">
            <button type="button" class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#cohort-modal"
                    th:default-course="${courses.get(0).courseId}"
                    onclick="updateCohortModalForm(this,'', '', 'PREPARED', this.getAttribute('default-course'))"
            >
                New +
            </button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cohort : ${cohorts}">
                <th scope="row" th:text="${cohort.cohortId}"></th>
                <td th:text="${cohort.name}"></td>
                <td th:text="${cohort.course.name}"></td>
                <td th:text="${cohort.status}"
                    th:classappend="${cohort.status.toString() == 'COMPLETED'} ?
        'text-success' : (${cohort.status.toString() == 'RUNNING'} ? 'text-info' : 'text-warning')"
                ></td>

                <td class="text-end">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#cohort-modal"
                            th:cohort-id="${cohort.cohortId}"
                            th:cohort-name="${cohort.name}"
                            th:cohort-status="${cohort.status}"
                            th:course-id="${cohort.course.courseId}"
                            onclick="updateCohortModalForm(this,
                                this.getAttribute('cohort-id'),
                                this.getAttribute('cohort-name'),
                                this.getAttribute('cohort-status'),
                                this.getAttribute('course-id'),
                            )"
                    >
                        <span th:replace="fragments/icons :: editIcon"></span>
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:attr="data-bs-target='#delete-modal' + ${cohort.cohortId}">
                        <span th:replace="fragments/icons :: deleteIcon"></span>
                    </button>
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                            data-bs-target="#cohortModal">
                        <span th:replace="fragments/icons :: infoIcon"></span>
                    </button>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<div th:replace="fragments/cohort :: cohortModal"></div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/cohort :: cohortScripts"></div>

</body>
</html>