<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>trainingOverview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<main class="container main-content" id="pills-home">
  <h1 class="text-center">Cohorts Overview</h1>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr th:each="cohort : ${cohorts}">
    <td th:text="${cohort.name}"></td>
    <td th:text="${cohort.status}"></td>
  </tr>
</table>
</main>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>