<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>error</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container main-content" id="pills-home">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>