<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>trainingOverview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<main class="container main-content" id="pills-home">
    <h1 class="text-center">Students Overview</h1>
    <section>
        <div class="d-flex mb-3 justify-content-end">
            <button type="button" class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#student-modal"
            >
                New +
            </button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <th scope="row" th:text="${student.studentId}"></th>
                <td th:text="${student.name}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.phoneNumber}"></td>
                <td th:text="${student.address}"></td>
                <td class="text-end">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                            data-bs-target="#student-modal"
                    >
                        <span th:replace="fragments/icons :: editIcon"></span>
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            th:attr="data-bs-target='#delete-modal' + ${student.studentId}">
                        <span th:replace="fragments/icons :: deleteIcon"></span>
                    </button>
                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                            data-bs-target="#studentModal">
                        <span th:replace="fragments/icons :: infoIcon"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/student :: studentScripts"></div>

</body>
</html>