<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>trainingOverview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<main class="container main-content" id="pills-home">
    <h1 class="text-center">Students Overview</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.address}"></td>
        </tr>
    </table>
</main>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
<div th:replace="fragments/general :: students"></div>

</body>
</html>