<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>trainingOverview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <th>Period</th>
        </tr>
        <tr th:each="training: ${trainings}">
            <td th:text="${training.name}"></td>
            <td><span th:text="${training.period}"></span> month/s</td>
        </tr>
        <tr>
            <form th:action="@{/}" method="post" th:object="${training}">
                <td><input type="text" th:field="*{name}" /></td>
                <td><input type="number" th:field="*{period}" /></td>
                <td><input type="submit" value="Save" /></td>
            </form>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>